# SVN FILE: $Id: ui_properties.txt 6152 2013-02-09 18:14:22Z jal55 $
#
# ui_properties.txt is the property file for the User Interface 
#  
#  This work is licensed under the Creative Commons Attribution-NonCommercial-NoDerivs 3.0 United States License. To 
#  view a copy of this license, visit http://creativecommons.org/licenses/by-nc-nd/3.0/us/ or send a letter to Creative 
#  Commons, 444 Castro Street, Suite 900, Mountain View, California, 94041, USA.
# 
#  @author $Author: jal55 $
#  @version $Rev: 6152 $
#  @lastrevision $Date: 2013-02-09 13:14:22 -0500 (Sat, 09 Feb 2013) $
# 

# Global variables used for nested includes should be first, and begin with 'gbl'
gbl.sitename=The <PROJECT NAME GOES HERE> Project
gbl.name.familiar=The <PROJECT NAME GOES HERE> project
gbl.name.formal=The <PROJECT NAME GOES HERE> Project
gbl.name.nickname=The <PROJECT NAME GOES HERE> project
gbl.ui.application.name=Identity Provisioning

# Manually increment version number each time application is deployed
gbl.ui.application.version=0.75

# Set to Y or N (if not deployed, displays devtools.jsp)
deployed=Y

# Application name and UI version
ui.application.id=%gbl.ui.application.name% v%gbl.ui.application.version%

ui.application.name=Identity Provisioning

# Session Expired Messages, including data card header
#-----------------------------------------------------
ui.expired.header=SESSION ENDED
ui.expired.message.count=2
ui.expired.message1=To protect the privacy of your data, your session has ended because you were away for an extended period of time.
ui.expired.message2=Please restart from the originating site of your transaction

# Password Validation Regex Pattern
#----------------------------------
# Note: the length specifies a (minimum, maximum) length and it must be the last item
#ui.password.validation.count=3
ui.password.validation=^((?=.*\\d)(?=.*[a-z]).{8,20})
#ui.password.validation1=^(?=.*\\d)
#ui.password.validation2=^(?=.*[a-z])
#ui.password.validation3=^.{8,20}
# for when a special character might be allowed ((?=.*\\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%]).{8,20})

# General validation error message, output when any password fails validation
ui.password.validation.error=Invalid Password!

# Error messages corresponding to failures of each of the above Regex patterns
ui.password.validation.error1=Password must have at least one number.
ui.password.validation.error2=Password must have at least one lowercase letter.
ui.password.validation.error3=Password must be at least 8 characters in length.

#HTML email related entries
ui.mail.host=
ui.mail.port=
ui.mail.username=
ui.mail.password=
ui.mail.from=
ui.mail.from.person=Identity Provisioning
ui.mail.success.subject=Your <PROJECT NAME GOES HERE> Identity Has Been Created
ui.mail.success.text=Your <PROJECT NAME GOES HERE> identity has been created
#ui.mail.success.html=<b>Hello %lna.firstName% %lna.lastName%,</b><br/><br/><i>Your <PROJECT NAME GOES HERE> Identity has been created.<br/><br/>Your user id is %suc.userId%.</i>
ui.mail.success.html=Hello %lna.firstName% %lna.lastName%,<br/>Thank you for registering for a Common Identity & Trust (<PROJECT NAME GOES HERE>) ID.  Your<br/>identity has been successfully created and your Username is %suc.userId%.<br/></br><PROJECT NAME GOES HERE> was developed to make it easier and safer for you to apply to<br/>college.  Your <PROJECT NAME GOES HERE> ID will give you a single username and password that<br/>you can use at a growing number of schools and for services that help you<br/>apply to college.<br/><br/>The <PROJECT NAME GOES HERE> service that you are using is a one-year demonstration pilot<br/>project among several university and vendor partners.  Your <PROJECT NAME GOES HERE> ID will<br/>continue to support a growing number of schools and services as the pilot<br/>progresses.<br/><br/>For more information, visit URL goes here.


ui.mail.success.reset.subject=Your <PROJECT NAME GOES HERE> Identity Password Has Been Reset
ui.mail.success.reset.text=Your <PROJECT NAME GOES HERE> identity has been reset.
ui.mail.success.reset.html=<b>Hello %lna.firstName% %lna.lastName%,</b><br/><br/><i>Your <PROJECT NAME GOES HERE> password has been reset, for your userid %suc.userId%.</i>

ui.mail.bcc=

Account Creation=ui.mail.success
Password Reset=ui.mail.success.reset

#Error Messages
ui.error.security.questions.must.answer.all=If you answer, or select, one question then you must answer them all.

# icon paths (in document head)
#----------------------------------------------------------------------------
ui.shortcut.icon=./assets/ico/icon.png
ui.apple.touch.icon.144=./assets/ico/icon144.png
ui.apple.touch.icon.114=./assets/ico/icon114.png
ui.apple.touch.icon.72=./assets/ico/icon72.png
ui.apple.touch.icon.57=./assets/ico/icon57.png

# header links -- href's need to be encoded before storing on the server
#----------------------------------------------------------------------------
ui.header.links.title=
ui.header.link1.title=
ui.header.link1.href=
ui.header.link2.title=
ui.header.link2.href=
ui.header.link3.title=
ui.header.link3.href=

# footer page links -- href's need to be encoded before storing on the server
#----------------------------------------------------------------------------
ui.footer.link1.title=
ui.footer.link1.href=
ui.footer.link2.title=
ui.footer.link2.href=

# website name - USAGE: <s:property value="#application['ui.sitename']"/>
ui.sitename=The <PROJECT NAME GOES HERE> project

ui.name.formal=The <PROJECT NAME GOES HERE> project
ui.name.familiar=The <PROJECT NAME GOES HERE> project
ui.name.nickname=%gbl.name.nickname%

#logo 
ui.university.logo.path=./assets/img/commit_logo.png
ui.university.logo.href=

#datacard header (title text)
ui.welcome.header=Welcome!
ui.welcome.actionmsg=Warning: Please close your browser if you do not complete this process. Failure to do so could allow others to obtain the information you have entered.

#Generic Help/Service Desk messages
ui.help.contact.message=Please call the Service Desk at (555) 555-5555 if you require further assistance.

#near match messages
ui.near.match.header=Multiple Matches Found
ui.near.match.message1=There are several accounts that could be you.
ui.near.match.message2=Please call the Help Desk: (555) 555-5555

#404 -- invalid action requested either by end-user entering into browser, or a Struts action
ui.404.error.header=Unable To Service Your Request
ui.404.error.message1=Your request cannot be serviced--Request Undefined.

ui.error.unable.to.proceed=We are unable to create your online identity.
ui.error.call.cust.services=Please call the Help Desk: (555) 555-5555

# The person was found, but they did not previously answer their security questions
#----------------------------------------------------------------------------------
ui.pswd.help.desk.reset.pswd.header=SESSION ENDED
ui.pswd.help.desk.must.reset.pswd=Please call the Help Desk: (555) 555-5555 to reset your password.

# The person failed to answer their [previously existing] security questions and exceed the retry count
#------------------------------------------------------------------------------------------------------
ui.security.answers.incorrect.header=SESSION ENDED
ui.security.answers.incorrect.count=2
ui.security.answers.incorrect1=You have not answered the security questions correctly.
ui.security.answers.incorrect2=Please call the Help Desk: (555) 555-5555

# The end-user answered one or more security questions incorrectly, but still has retires left
#---------------------------------------------------------------------------------------------
ui.incorrect.security.answer.try.again=Incorrect Answer for 1 or more security questions.

# The Registration Authority (RA) failed authentication
#------------------------------------------------------
ui.ra_auth_failed.header=SESSION ENDED
ui.ra_auth_failed.message.count=2
ui.ra_auth_failed.message1=Access to this site is unauthorized.
ui.ra_auth_failed.message2=Please call the Help Desk: (555) 555-5555

# In PasswordAction, setting Password, there is no Person Id in session
#----------------------------------------------------------------------
ui.set.password.no.person.id.header=SESSION ENDED
ui.set.password.no.person.id=Password Error
ui.set.password.no.person.id.message=Please call the Help Desk: (555) 555-5555 and reference error 101

# JMS Items
#---------------
ui.setpassword.queue.name=Queue.Directory
ui.setpassword.reply.queue.name=Queue.CPR

# UpdatePerson Returned An Error
#-------------------------------
ui.update.person.error1a1.header=SESSION ENDED
ui.update.person.error1a1.message.count=2
ui.update.person.error1a1.message1=We could not update your records.
ui.update.person.error1a1.message2=Please call the Help Desk: (555) 555-5555 and reference error 1A1

#test global includes
ui.test.global1=Once you arrive at %gbl.name.formal% you will be asked to register for a Web Access account.
ui.test.global2=At %gbl.name.nickname%, you are challenged to do your best!

# Exception Messages
exception.database.connection.header=DATABASE EXCEPTION
exception.database.connection.message.count=2
exception.database.connection.message1=We are experiencing a technical difficulty.
exception.database.connection.message2=Please call the Help Desk: (555) 555-5555

exception.datalock.header=DATA INTEGRITY
exception.data.lock.message.count=2
exception.data.lock.message1=Previously entered data cannot be modified at this stage.
exception.data.lock.message2=Please hit 'F5' to proceed.

# Progress Meter Information
ip.screen.position.WelcomeAction=           1
ip.screen.position.DataAccuracyAction=      2
ip.screen.position.LegalNameAction=         3
ip.screen.position.FormerNameAction=        3
ip.screen.position.CurrentAddressAction=    4
ip.screen.position.PreviousAddressAction=   4
ip.screen.position.ContactInfoAction=       5
ip.screen.position.PersonalInfoAction=      6
ip.screen.position.IdentityInfoAction=      7
ip.screen.position.VerifyInfoAction=        7
ip.screen.position.SecurityQuestionSplash=  8
ip.screen.position.SecurityQuestionAction=  8
ip.screen.position.SecurityQuestion1Action= 8
ip.screen.position.SecurityQuestion2Action= 8
ip.screen.position.SecurityQuestion3Action= 8
ip.screen.position.PasswordAction=          9
ip.screen.position.SuccessAction=          10
ip.screen.position.total.screens=          10

#On Entry to What screen should data locking occur: we don't allow changing previous data on entry to this screen
ip.datalock.action.name=PasswordAction

#  this section allows for logic flow alternatives
#  ------------------------------------------------
# The presence of a statement will change the flow of program logic
# comment the statement for older, default behavior

# When person is found, present one question per page, else all 3 questions will appear on one page

# present one question per page, when found
logic.security.questions.person.found=go to sq splash

#present all three questions per page, when found
#logic.security.questions.person.found=default

#   names of the optional screens, and after what screen they should be inserted -- used by debug option 'allPages=yes'
#logic.optional.screens=FormerName,AlternateAddress
#logic.optional.insert.after=LegalName,CurrentAddress
logic.optional.screens=FormerName
logic.optional.insert.after=LegalName


# end of logic flow alternatives section
# -------------------------------------

#   regex pattern(s) for display of PSU ID on success screen with dashes
edit.pattern.uid.groups=(\w{1})(\w{4})(\w{4})
edit.pattern.uid.group.display=$1-$2-$3

# security question related information
security.question.incorrect.answer=That is an incorrect answer.
security.question.answer.failure=You failed to answer one, or more, security questions correctly.

# The credential request has completed, but the user is attempting to go back thru screens
ui.request.complete.header=REQUEST COMPLETE
ui.request.complete.message.count=2
ui.request.complete.message1=Your credential request has completed successfully
ui.request.complete.message2=You may return back to the previous site
ui.request.complete.message3=Further attempts to navigate this site will return you to this page

# Should the email address be pre-populated into the userid field?
populate.userid.with.email.address=no

# number of seconds to delay before delting session object
delete.session.delay.in.seconds=2

# Regex patterns for validating data on Identity Information Screen.
userid.regex=^[a-z]{3}[0-9]{0,5}
ssn.regex=^\d{3}[\s-]?\d{2}[\s-]?\d{4}
entity.id.regex=^[9]{1}[\s-]?[0-9]{4}[\s-]?[0-9]{4}

# Message if the user enters invalid data - Identity Information Screen 
userid.is.invalid=The userid specified is invalid
ssn.is.invalid=Social Security Number entry is invalid
entity.id.is.invalid=ID entry is invalid

#Optionally hide certain fields
ui.fields.hidden.userid=yes
ui.fields.hidden.universityid=yes

screens.to.hide=IdentityInfo
