<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none" preserve-order="true">
  <test name="Test">
    <classes>
      <class name="edu.psu.iam.cpr.core.tests.AccessTypeTest"/>
      <class name="edu.psu.iam.cpr.core.tests.AddressReturnTest"/>
      <class name="edu.psu.iam.cpr.core.tests.AddressTypeTest"/>
      <class name="edu.psu.iam.cpr.core.tests.AddressesTableTest"/>
      <class name="edu.psu.iam.cpr.core.tests.AddressesTest"/>
      <class name="edu.psu.iam.cpr.core.tests.AffiliationReturnTest"/>
      <class name="edu.psu.iam.cpr.core.tests.AffiliationsTest"/>
      <class name="edu.psu.iam.cpr.core.tests.AuthenticateServiceTest"/>
      <class name="edu.psu.iam.cpr.core.tests.BadPrefixesTest"/>
      <class name="edu.psu.iam.cpr.core.tests.CampusCsTest"/>
      <class name="edu.psu.iam.cpr.core.tests.ConfidentialityReturnTest"/>
      <class name="edu.psu.iam.cpr.core.tests.ConfidentialityTableTest"/>
      <class name="edu.psu.iam.cpr.core.tests.ConfidentialityTest"/>
      <class name="edu.psu.iam.cpr.core.tests.ConfidentialityTypeTest"/>
      <class name="edu.psu.iam.cpr.core.tests.CountryTableTest"/>
      <class name="edu.psu.iam.cpr.core.tests.CountryTest"/>
      <class name="edu.psu.iam.cpr.core.tests.CprComponentStatusTableTest"/>
      <class name="edu.psu.iam.cpr.core.tests.CprComponentStatusTest"/>
      <class name="edu.psu.iam.cpr.core.tests.CprPropertiesTest"/>
      <class name="edu.psu.iam.cpr.core.tests.CredentialReturnTest"/>
      <class name="edu.psu.iam.cpr.core.tests.CredentialTableTest"/>
      <class name="edu.psu.iam.cpr.core.tests.CredentialTest"/>
      <class name="edu.psu.iam.cpr.core.tests.CredentialTypeTest"/>
      <class name="edu.psu.iam.cpr.core.tests.DBTypesHelperTest"/>
      <class name="edu.psu.iam.cpr.core.tests.DatabaseTest"/>
      <class name="edu.psu.iam.cpr.core.tests.DatabaseUITest"/>
      <class name="edu.psu.iam.cpr.core.tests.DateOfBirthReturnTest"/>
      <class name="edu.psu.iam.cpr.core.tests.DateOfBirthTableTest"/>
      <class name="edu.psu.iam.cpr.core.tests.DateOfBirthTest"/>
      <class name="edu.psu.iam.cpr.core.tests.DocumentTypeTest"/>
      <class name="edu.psu.iam.cpr.core.tests.EmailAddressReturnTest"/>
      <class name="edu.psu.iam.cpr.core.tests.EmailAddressTableTest"/>
      <class name="edu.psu.iam.cpr.core.tests.EmailAddressTest"/>
      <class name="edu.psu.iam.cpr.core.tests.EmailAddressTypeTest"/>
      <class name="edu.psu.iam.cpr.core.tests.EmailMsgUITest"/>
      <class name="edu.psu.iam.cpr.core.tests.ExternalAffiliationTest"/>
      <class name="edu.psu.iam.cpr.core.tests.FederationTableTest"/>
      <class name="edu.psu.iam.cpr.core.tests.FieldUITest"/>
      <class name="edu.psu.iam.cpr.core.tests.GenderReturnTest"/>
      <class name="edu.psu.iam.cpr.core.tests.GenderTypeTest"/>
      <class name="edu.psu.iam.cpr.core.tests.GeneratedIdentityTest"/>
      <class name="edu.psu.iam.cpr.core.tests.IAPReturnTest"/>
      <class name="edu.psu.iam.cpr.core.tests.IapTest"/>
      <class name="edu.psu.iam.cpr.core.tests.IdCardPrintLogReturnTest"/>
      <class name="edu.psu.iam.cpr.core.tests.IdCardPrintLogTableTest"/>
      <class name="edu.psu.iam.cpr.core.tests.IdCardPrintLogTest"/>
      <class name="edu.psu.iam.cpr.core.tests.IdCardReturnTest"/>
      <class name="edu.psu.iam.cpr.core.tests.IdCardTableTest"/>
      <class name="edu.psu.iam.cpr.core.tests.IdCardTypeTest"/>
      <class name="edu.psu.iam.cpr.core.tests.IdentifierTypeTest"/>
      <class name="edu.psu.iam.cpr.core.tests.JsonMessageTest"/>
      <class name="edu.psu.iam.cpr.core.tests.MatchResultsTableTest"/>
      <class name="edu.psu.iam.cpr.core.tests.MatchResultsTest"/>
      <class name="edu.psu.iam.cpr.core.tests.MatchReturnTest"/>
      <class name="edu.psu.iam.cpr.core.tests.MatchTypeTest"/>
      <class name="edu.psu.iam.cpr.core.tests.MatchingTableTest"/>
      <class name="edu.psu.iam.cpr.core.tests.MatchingUtilitiesTest"/>
      <class name="edu.psu.iam.cpr.core.tests.MessageLogHistoryReturnTest"/>
      <class name="edu.psu.iam.cpr.core.tests.MessageLogHistoryTableTest"/>
      <class name="edu.psu.iam.cpr.core.tests.MessageLogHistoryTest"/>
      <class name="edu.psu.iam.cpr.core.tests.MessageLogReturnTest"/>
      <class name="edu.psu.iam.cpr.core.tests.MessageLogTableTest"/>
      <class name="edu.psu.iam.cpr.core.tests.MessageLogTest"/>
      <class name="edu.psu.iam.cpr.core.tests.MessagingCoreTest"/>
      <class name="edu.psu.iam.cpr.core.tests.NameReturnTest"/>
      <class name="edu.psu.iam.cpr.core.tests.NameTypeTest"/>
      <class name="edu.psu.iam.cpr.core.tests.NamesTableTest"/>
      <class name="edu.psu.iam.cpr.core.tests.NamesTest"/>
      <class name="edu.psu.iam.cpr.core.tests.PersonAffiliationTableTest"/>
      <class name="edu.psu.iam.cpr.core.tests.PersonAffiliationTest"/>
      <class name="edu.psu.iam.cpr.core.tests.PersonGenderTableTest"/>
      <class name="edu.psu.iam.cpr.core.tests.PersonGenderTest"/>
      <class name="edu.psu.iam.cpr.core.tests.PersonIdCardNumberReturnTest"/>
      <class name="edu.psu.iam.cpr.core.tests.PersonIdCardReturnTest"/>
      <class name="edu.psu.iam.cpr.core.tests.PersonIdCardTest"/>
      <class name="edu.psu.iam.cpr.core.tests.PersonIdentifierReturnTest"/>
      <class name="edu.psu.iam.cpr.core.tests.PersonIdentifierTableTest"/>
      <class name="edu.psu.iam.cpr.core.tests.PersonIdentifierTest"/>
      <class name="edu.psu.iam.cpr.core.tests.PersonLinkageReturnTest"/>
      <class name="edu.psu.iam.cpr.core.tests.PersonLinkageTableTest"/>
      <class name="edu.psu.iam.cpr.core.tests.PersonLinkageTest"/>
      <class name="edu.psu.iam.cpr.core.tests.PersonPhotoTableTest"/>
      <class name="edu.psu.iam.cpr.core.tests.PersonPhotoTest"/>
      <class name="edu.psu.iam.cpr.core.tests.PersonReturnTest"/>
      <class name="edu.psu.iam.cpr.core.tests.PersonTableTest"/>
      <class name="edu.psu.iam.cpr.core.tests.PersonTest"/>
      <class name="edu.psu.iam.cpr.core.tests.PersonUseridIapTableTest"/>
      <class name="edu.psu.iam.cpr.core.tests.PersonUseridIapTest"/>
      <class name="edu.psu.iam.cpr.core.tests.PhoneReturnTest"/>
      <class name="edu.psu.iam.cpr.core.tests.PhoneTypeTest"/>
      <class name="edu.psu.iam.cpr.core.tests.PhonesTableTest"/>
      <class name="edu.psu.iam.cpr.core.tests.PhonesTest"/>
      <class name="edu.psu.iam.cpr.core.tests.PhotoIdIssuerDataTypeTest"/>
      <class name="edu.psu.iam.cpr.core.tests.PhotoIdIssuerTest"/>
      <class name="edu.psu.iam.cpr.core.tests.PhotoReturnTest"/>
      <class name="edu.psu.iam.cpr.core.tests.PsuDirectoryTableTest"/>
      <class name="edu.psu.iam.cpr.core.tests.PsuDirectoryTest"/>
      <class name="edu.psu.iam.cpr.core.tests.PsuIdHelperTest"/>
      <class name="edu.psu.iam.cpr.core.tests.PsuIdReturnTest"/>
      <class name="edu.psu.iam.cpr.core.tests.PsuIdTableTest"/>
      <class name="edu.psu.iam.cpr.core.tests.PsuIdTest"/>
      <class name="edu.psu.iam.cpr.core.tests.ReturnTypeTest"/>
      <class name="edu.psu.iam.cpr.core.tests.ScreenUITest"/>
      <class name="edu.psu.iam.cpr.core.tests.ServiceCoreReturnTest"/>
      <class name="edu.psu.iam.cpr.core.tests.ServiceCoreTest"/>
      <class name="edu.psu.iam.cpr.core.tests.ServiceLogTableTest"/>
      <class name="edu.psu.iam.cpr.core.tests.ServiceLogTest"/>
      <class name="edu.psu.iam.cpr.core.tests.ServiceProvisionerQueueTest"/>
      <class name="edu.psu.iam.cpr.core.tests.ServiceProvisionerTest"/>
      <class name="edu.psu.iam.cpr.core.tests.TableColumnTest"/>
      <class name="edu.psu.iam.cpr.core.tests.TranformStatusTypeTest"/>
      <class name="edu.psu.iam.cpr.core.tests.UserCommentReturnTest"/>
      <class name="edu.psu.iam.cpr.core.tests.UserCommentTableTest"/>
      <class name="edu.psu.iam.cpr.core.tests.UserCommentTypeTest"/>
      <class name="edu.psu.iam.cpr.core.tests.UserCommentsTest"/>
      <class name="edu.psu.iam.cpr.core.tests.UseridHelperTest"/>
      <class name="edu.psu.iam.cpr.core.tests.UseridPoolTest"/>
      <class name="edu.psu.iam.cpr.core.tests.UseridReturnTest"/>
      <class name="edu.psu.iam.cpr.core.tests.UseridTableTest"/>
      <class name="edu.psu.iam.cpr.core.tests.UseridTest"/>
      <class name="edu.psu.iam.cpr.core.tests.UtilityTest"/>
      <class name="edu.psu.iam.cpr.core.tests.VSpNotificationTest"/>
      <class name="edu.psu.iam.cpr.core.tests.ValidateAddressTest"/>
      <class name="edu.psu.iam.cpr.core.tests.ValidateConfidentialityTest"/>
      <class name="edu.psu.iam.cpr.core.tests.ValidateCredentialTest"/>
      <class name="edu.psu.iam.cpr.core.tests.ValidateDateOfBirthTest"/>
      <class name="edu.psu.iam.cpr.core.tests.ValidateEmailTest"/>
      <class name="edu.psu.iam.cpr.core.tests.ValidateIdCardPrintLogTest"/>
      <class name="edu.psu.iam.cpr.core.tests.ValidateIdCardTest"/>
      <class name="edu.psu.iam.cpr.core.tests.ValidateNameTest"/>
      <class name="edu.psu.iam.cpr.core.tests.ValidatePerGenderRelTest"/>
      <class name="edu.psu.iam.cpr.core.tests.ValidatePersonAffiliationTest"/>
      <class name="edu.psu.iam.cpr.core.tests.ValidatePersonIdentifierTest"/>
      <class name="edu.psu.iam.cpr.core.tests.ValidatePersonLinkageTest"/>
      <class name="edu.psu.iam.cpr.core.tests.ValidatePersonPhotoTest"/>
      <class name="edu.psu.iam.cpr.core.tests.ValidatePersonTest"/>
      <class name="edu.psu.iam.cpr.core.tests.ValidatePersonUseridIapTest"/>
      <class name="edu.psu.iam.cpr.core.tests.ValidatePhoneTest"/>
      <class name="edu.psu.iam.cpr.core.tests.ValidateSSNTest"/>
      <class name="edu.psu.iam.cpr.core.tests.ValidateTest"/>
      <class name="edu.psu.iam.cpr.core.tests.ValidateUserCommentTest"/>
      <class name="edu.psu.iam.cpr.core.tests.ValidateUseridTest"/>
   	</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
