/bin
/build
/dist
/logs
/build-jars
/ivy
/javadoc
/lib
/test-output
/src/cpr.properties
/src/grouper.client.properties
/src/hibernate.cfg.xml
/src/jndi.properties
/src/main/resources/cpr.properties
/src/main/resources/grouper.client.properties
/src/main/resources/hibernate.cfg.xml
/src/main/resources/jndi.properties
/.sonar
/sonar-project.properties
