<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none" preserve-order="true">
  <test name="Test">
    <classes>
      <class name="edu.psu.iam.cpr.services.test.AddressTest"/>
      <class name="edu.psu.iam.cpr.services.test.AffiliationTest"/>
      <class name="edu.psu.iam.cpr.services.test.ConfidentialityTest"/>
      <class name="edu.psu.iam.cpr.services.test.CredentialTest"/>
      <class name="edu.psu.iam.cpr.services.test.EmailAddressTest"/>
      <class name="edu.psu.iam.cpr.services.test.FindPersonTest"/>
      <class name="edu.psu.iam.cpr.services.test.IAPTest"/>
      <class name="edu.psu.iam.cpr.services.test.IdCardPrintEventTest"/>
      <class name="edu.psu.iam.cpr.services.test.IdCardTest"/>
      <class name="edu.psu.iam.cpr.services.test.NamesTest"/>
      <class name="edu.psu.iam.cpr.services.test.PersonIdentifierTest"/>
      <class name="edu.psu.iam.cpr.services.test.PersonLinkageTest"/>
      <class name="edu.psu.iam.cpr.services.test.PersonTest"/>
      <class name="edu.psu.iam.cpr.services.test.PhoneTest"/>
      <class name="edu.psu.iam.cpr.services.test.PhotoTest"/>
      <class name="edu.psu.iam.cpr.services.test.SecurityActionTest"/>
      <class name="edu.psu.iam.cpr.services.test.UserCommentTest"/>
      <class name="edu.psu.iam.cpr.services.test.UseridTest"/>
  	</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
