<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="cpr">
		<property name="hibernate.connection.driver_class">Put your JDBC driver name here</property>
		<property name="hibernate.connection.password">Put your database password here</property>
		<property name="hibernate.connection.url">Put the URL to your database connection here</property>
		<property name="hibernate.connection.username">Put your database userid here.</property>
		<property name="hibernate.dialect">Put your hibernate dialect here.</property>
		<property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.default_schema">cpr</property>
		<mapping class="edu.psu.iam.cpr.core.database.beans.Addresses" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.AffTransitionRules" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.Affiliations" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.AllowedCharPart" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.AllowedNumPart" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.AnswerGroup" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.ApplicationProperties" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.BadPrefixes" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.CampusCs" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.Confidentiality" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.Country" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.CountryMap" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.CprAccessGroups" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.CprComponentStatus" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.Credential" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.DataElementDocTypes" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.DataElementTypes" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.DataTypes" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.DatabaseLog" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.DateOfBirth" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.EmailAddress" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.EmailNotification" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.EventTriggers" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.ExtAffiliation" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.ExtAffiliationMapping" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.ExtAffiliationTypes" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.ExternalIap" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.Federation" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.GeneratedIdentity" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.GroupDataTypeAccess" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.GroupMemberComments" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.GroupMembers" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.Iap" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.IapDataElement" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.IapDocument" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.IapExtMapping" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.IapRules" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.IdCardPrintLog" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.IdentifierType" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.JavaExceptions" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.MatchResults" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.MessageLog" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.MessageLogHistory" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.Names" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.Person" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.PersonAffiliation" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.PersonGender" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.PersonIapData" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.PersonIapVp" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.PersonIdCard" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.PersonIdentifier" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.PersonLinkage" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.PersonPhoto" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.PersonUseridIap" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.Phones" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.PhotoIdIssuer" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.PhotoIdIssuerDataType" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.Policies" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.PsuDirectory" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.PsuId" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.PsuIdExceptions" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.RaAffiliation" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.RaApplicationProperties" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.RaApplications" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.RaComments" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.RaIapAssign" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.RaScreenFields" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.RaScreens" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.RaServerPrincipals" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.RaUiApplication" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.RegistrationAuthority" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.SecurityQuestionAnswers" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.SecurityQuestions" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.ServerPrincipalIp" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.ServiceActions" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.ServiceLog" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.ServiceProvisioner" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.Services" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.SpNotification" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.SpResponse" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.SpServices" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.SpWarningNotifications" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.UiApplications" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.UiFieldTypes" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.UiLog" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.UiScreenFields" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.UiScreens" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.UserComments" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.UserServiceStatus" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.Userid" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.UseridPolicyStatus" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.UseridPool" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.UspsStateTypes" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.UspsStates" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.VSpNotification" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.WebService" />
		<mapping class="edu.psu.iam.cpr.core.database.beans.WebServiceAccess" />	
	</session-factory>
</hibernate-configuration>
