<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="cpr">
		<property name="hibernate.connection.driver_class">Put your JDBC driver name here</property>
        <property name="hibernate.connection.password">Put your database password here</property>
        <property name="hibernate.connection.url">Put the URL to your database connection here</property>
        <property name="hibernate.connection.username">Put your database userid here.</property>
        <property name="hibernate.dialect">Put your hibernate dialect here.</property>
        <property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.default_schema">Put your database name here</property>
		<mapping class="edu.psu.iam.cpr.utility.beans.Addresses" />
		<mapping class="edu.psu.iam.cpr.utility.beans.AffTransitionRules" />
		<mapping class="edu.psu.iam.cpr.utility.beans.Affiliations" />
		<mapping class="edu.psu.iam.cpr.utility.beans.AllowedCharPart" />
		<mapping class="edu.psu.iam.cpr.utility.beans.AllowedNumPart" />
		<mapping class="edu.psu.iam.cpr.utility.beans.AnswerGroup" />
		<mapping class="edu.psu.iam.cpr.utility.beans.ApplicationProperties" />
		<mapping class="edu.psu.iam.cpr.utility.beans.BadPrefixes" />
		<mapping class="edu.psu.iam.cpr.utility.beans.CampusCs" />
		<mapping class="edu.psu.iam.cpr.utility.beans.Confidentiality" />
		<mapping class="edu.psu.iam.cpr.utility.beans.Country" />
		<mapping class="edu.psu.iam.cpr.utility.beans.CountryMap" />
		<mapping class="edu.psu.iam.cpr.utility.beans.CprAccessGroups" />
		<mapping class="edu.psu.iam.cpr.utility.beans.CprComponentStatus" />
		<mapping class="edu.psu.iam.cpr.utility.beans.Credential" />
		<mapping class="edu.psu.iam.cpr.utility.beans.DataElementDocTypes" />
		<mapping class="edu.psu.iam.cpr.utility.beans.DataElementTypes" />
		<mapping class="edu.psu.iam.cpr.utility.beans.DataTypes" />
		<mapping class="edu.psu.iam.cpr.utility.beans.DatabaseLog" />
		<mapping class="edu.psu.iam.cpr.utility.beans.DateOfBirth" />
		<mapping class="edu.psu.iam.cpr.utility.beans.EmailAddress" />
		<mapping class="edu.psu.iam.cpr.utility.beans.EmailNotification" />
		<mapping class="edu.psu.iam.cpr.utility.beans.EventTriggers" />
		<mapping class="edu.psu.iam.cpr.utility.beans.ExtAffiliation" />
		<mapping class="edu.psu.iam.cpr.utility.beans.ExtAffiliationMapping" />
		<mapping class="edu.psu.iam.cpr.utility.beans.ExtAffiliationTypes" />
		<mapping class="edu.psu.iam.cpr.utility.beans.ExternalIap" />
		<mapping class="edu.psu.iam.cpr.utility.beans.Federation" />
		<mapping class="edu.psu.iam.cpr.utility.beans.GeneratedIdentity" />
		<mapping class="edu.psu.iam.cpr.utility.beans.GroupDataTypeAccess" />
		<mapping class="edu.psu.iam.cpr.utility.beans.GroupMemberComments" />
		<mapping class="edu.psu.iam.cpr.utility.beans.GroupMembers" />
		<mapping class="edu.psu.iam.cpr.utility.beans.Iap" />
		<mapping class="edu.psu.iam.cpr.utility.beans.IapDataElement" />
		<mapping class="edu.psu.iam.cpr.utility.beans.IapDocument" />
		<mapping class="edu.psu.iam.cpr.utility.beans.IapExtMapping" />
		<mapping class="edu.psu.iam.cpr.utility.beans.IapRules" />
		<mapping class="edu.psu.iam.cpr.utility.beans.IdCardPrintLog" />
		<mapping class="edu.psu.iam.cpr.utility.beans.IdentifierType" />
		<mapping class="edu.psu.iam.cpr.utility.beans.JavaExceptions" />
		<mapping class="edu.psu.iam.cpr.utility.beans.MatchResults" />
		<mapping class="edu.psu.iam.cpr.utility.beans.MessageConsumer" />
		<mapping class="edu.psu.iam.cpr.utility.beans.MessageConsumerMapping" />
		<mapping class="edu.psu.iam.cpr.utility.beans.MessageLog" />
		<mapping class="edu.psu.iam.cpr.utility.beans.MessageLogHistory" />
		<mapping class="edu.psu.iam.cpr.utility.beans.Names" />
		<mapping class="edu.psu.iam.cpr.utility.beans.Person" />
		<mapping class="edu.psu.iam.cpr.utility.beans.PersonAffiliation" />
		<mapping class="edu.psu.iam.cpr.utility.beans.PersonGender" />
		<mapping class="edu.psu.iam.cpr.utility.beans.PersonIapData" />
		<mapping class="edu.psu.iam.cpr.utility.beans.PersonIapVp" />
		<mapping class="edu.psu.iam.cpr.utility.beans.PersonIdCard" />
		<mapping class="edu.psu.iam.cpr.utility.beans.PersonIdentifier" />
		<mapping class="edu.psu.iam.cpr.utility.beans.PersonLinkage" />
		<mapping class="edu.psu.iam.cpr.utility.beans.PersonPhoto" />
		<mapping class="edu.psu.iam.cpr.utility.beans.PersonUseridIap" />
		<mapping class="edu.psu.iam.cpr.utility.beans.Phones" />
		<mapping class="edu.psu.iam.cpr.utility.beans.PhotoIdIssuer" />
		<mapping class="edu.psu.iam.cpr.utility.beans.PhotoIdIssuerDataType" />
		<mapping class="edu.psu.iam.cpr.utility.beans.Policies" />
		<mapping class="edu.psu.iam.cpr.utility.beans.PsuDirectory" />
		<mapping class="edu.psu.iam.cpr.utility.beans.PsuId" />
		<mapping class="edu.psu.iam.cpr.utility.beans.PsuIdExceptions" />
		<mapping class="edu.psu.iam.cpr.utility.beans.RaAffiliation" />
		<mapping class="edu.psu.iam.cpr.utility.beans.RaApplicationProperties" />
		<mapping class="edu.psu.iam.cpr.utility.beans.RaApplications" />
		<mapping class="edu.psu.iam.cpr.utility.beans.RaComments" />
		<mapping class="edu.psu.iam.cpr.utility.beans.RaIapAssign" />
		<mapping class="edu.psu.iam.cpr.utility.beans.RaScreenFields" />
		<mapping class="edu.psu.iam.cpr.utility.beans.RaScreens" />
		<mapping class="edu.psu.iam.cpr.utility.beans.RaServerPrincipals" />
		<mapping class="edu.psu.iam.cpr.utility.beans.RaUiApplication" />
		<mapping class="edu.psu.iam.cpr.utility.beans.RegistrationAuthority" />
		<mapping class="edu.psu.iam.cpr.utility.beans.SecurityQuestionAnswers" />
		<mapping class="edu.psu.iam.cpr.utility.beans.SecurityQuestions" />
		<mapping class="edu.psu.iam.cpr.utility.beans.ServerPrincipalIp" />
		<mapping class="edu.psu.iam.cpr.utility.beans.ServiceLog" />
		<mapping class="edu.psu.iam.cpr.utility.beans.Services" />
		<mapping class="edu.psu.iam.cpr.utility.beans.UiApplications" />
		<mapping class="edu.psu.iam.cpr.utility.beans.UiFieldTypes" />
		<mapping class="edu.psu.iam.cpr.utility.beans.UiLog" />
		<mapping class="edu.psu.iam.cpr.utility.beans.UiScreenFields" />
		<mapping class="edu.psu.iam.cpr.utility.beans.UiScreens" />
		<mapping class="edu.psu.iam.cpr.utility.beans.UserComments" />
		<mapping class="edu.psu.iam.cpr.utility.beans.UserServiceStatus" />
		<mapping class="edu.psu.iam.cpr.utility.beans.Userid" />
		<mapping class="edu.psu.iam.cpr.utility.beans.UseridPolicyStatus" />
		<mapping class="edu.psu.iam.cpr.utility.beans.UseridPool" />
		<mapping class="edu.psu.iam.cpr.utility.beans.UspsStateTypes" />
		<mapping class="edu.psu.iam.cpr.utility.beans.UspsStates" />
		<mapping class="edu.psu.iam.cpr.utility.beans.VSpNotification" />
		<mapping class="edu.psu.iam.cpr.utility.beans.WebService" />
		<mapping class="edu.psu.iam.cpr.utility.beans.WebServiceAccess" />
	</session-factory>
</hibernate-configuration>