<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://cxf.apache.org/jaxrs
http://cxf.apache.org/schemas/jaxrs.xsd">

	<!-- do not use import statements if CXFServlet init parameters link to 
		this beans.xml -->

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<jaxrs:server id="cprapi" address="/">
		<jaxrs:serviceBeans>
			<ref bean="CprApiBean" />
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<ref bean="authorizationFilter" />
		</jaxrs:providers>
	</jaxrs:server>
	

	<bean id="CprApiBean" class="edu.psu.iam.cpr.rest.CprApi" />
	<bean id="authorizationFilter" class="edu.psu.iam.cpr.rest.handler.AuthorizationHandler" />
</beans>